---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">Chi sono</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			Ciao, sono Salvatore e studio Informatica.<br>La tecnologia mi ha sempre affascinato, e mi piace scoprire nuovi modi per risolvere problemi attraverso il codice. Durante il mio percorso di studi, ho approfondito vari linguaggi di programmazione come Java, C#, Php, e tecnologie come sviluppo web ed intelligenza artificiale.<br><br>
			Ho anche avuto esperienza nel mondo del lavoro, dove ho avuto l'opportunità di lavorare su progetti di sviluppo web, gestione di database, sviluppo di automazioni, che mi hanno permesso di mettere in pratica ciò che ho imparato e crescere professionalmente.<br><br>
			Sono sempre alla ricerca di nuove sfide per migliorare le mie competenze e applicare le conoscenze acquisite in contesti reali. Se vuoi discutere di un progetto o collaborare, non esitare a contattarmi!
		</p>
	</div>
</section>
