---
import heroImage from '@assets/images/hero.png';
import Button from '@components/ui/Button.astro';
import { Image } from 'astro:assets';
---

<section
	data-testid="hero"
	class="flex h-screen flex-col-reverse items-center justify-center text-center lg:flex-row"
>
	<div class="mb-10 flex flex-col items-center lg:mb-0 lg:w-1/2">
		<div>
			<h1 class="mb-10 font-monospace text-3xl text-black dark:text-white lg:text-5xl">
				Ciao! Mi chiamo <span class="text-orange">Salvatore Sinnato</span> e sono uno sviluppatore molto appassionato.
			</h1>
		</div>
		<div class="mb-10">
			<a href="#about">
				<Button style={'primary'} size={'lg'} class={'flex'} name="learn more">Scopri di più</Button>
			</a>
		</div>
	</div>
	<div data-testid="hero-img" class="mb-10 flex w-1/2 items-center justify-center">
		<Image
			src={heroImage}
			alt="Coding girl"
			format="png"
			width={600}
			height={600}
			loading="eager"
		/>
	</div>
</section>
